.brc-chart-accum path {
    fill: none;
}

.brc-chart-accum path.highlight {
    stroke: black;
    stroke-width: 3;
    opacity: 1;
}

.brc-chart-accum path.lowlight {
    opacity:0.3;
}

.brc-chart-accum {
    overflow: visible;
}

.brc-chart-accum .brc-legend-item.lowlight {
    opacity:0.3;
}

.brc-chart-accum .brc-legend-item-rect.highlight {
    fill:black;
}

.brc-chart-accum text.lowlight {
    opacity:0.3;
}

.brc-chart-accum text.highlight {
    font-weight:bold;
}

.brc-chart-accum .y-axis.lowlight {
    opacity:0.3;
}

.brc-chart-accum .y-axis.highlight {
    font-weight:bold;
}