.brc-chart-accum path {
    fill: none;
}

.brc-chart-accum path.highlight {
    stroke: black;
    stroke-width: 3;
    opacity: 1;
}

.brc-chart-accum path.lowlight {
    opacity:0.3;
}

.brc-chart-accum {
    overflow: visible;
}

.brc-legend-item.lowlight {
    opacity:0.3;
}

.brc-legend-item-rect.highlight {
    fill:black;
}
