/* .brc-chart-phen1 path {
    fill: none;
} */

.brc-chart-phen1 path.highlight.phen-path-line {
    stroke: black;
    stroke-width: 3;
    opacity: 1;
}

.brc-chart-phen1 path.lowlight {
    opacity:0.3;
}

.brc-chart-phen1 rect.lowlight {
    opacity:0.3;
}

.brc-chart-phen1 {
    overflow: visible;
}

/* .brc-chart-phen1  */
.brc-chart-phen1-top .brc-legend-item.lowlight {
    opacity:0.3;
}

/* .brc-chart-phen1  */
.brc-chart-phen1-top .brc-legend-item-line.highlight {
    fill:black;
}
