.brc-chart-phen2 rect.highlight {
    fill: black;
    opacity: 1;
}

.brc-chart-phen2 rect.lowlight {
    opacity:0.3;
}

.brc-chart-phen2 {
    overflow: visible;
}

.brc-chart-phen2-top .brc-legend-item.lowlight {
    opacity:0.3;
}

.brc-chart-phen2-top .brc-legend-item-rect.highlight {
    fill:black;
}

.brc-chart-phen2-top .brc-legend-item-icon.highlight {
    fill:black;
}

#phen2-chart .mainChart {
    overflow: visible;
}
