.brc-chart-temporal {
    overflow: visible;
}

.brc-chart-temporal .temporal-graphic.lowlight {
    opacity: 0.2 !important;
}

.brc-chart-temporal .temporal-line.highlight {
    stroke: black;
    stroke-width: 2;
    opacity: 1;
}

/* .brc-chart-temporal .brc-legend-item-rect.highlight {
    fill:black;
} */
